# === Jupyter Notebook checkpoints ===
**/.ipynb_checkpoints/

# === Fichier HTML généré pour la visualisation ===
Templates/

# === Dossiers à ignorer  ===
/Notebooks Jupyter/
/Data/
/Fichiers Python de stock/
__pycache__/

.vscode

# === Ignore les scripts Powershell ===
*.ps1

# === Ignore les scripts Bash ===
*.sh

# === Ignore certains fichiers Python (trop volumineux) ===
Code_analyse_OOP.py  
Code_analyse_OOP_term.py 

