# === Jupyter Notebook checkpoints ===
**/.ipynb_checkpoints/

# === Fichier HTML généré pour la visualisation ===
Templates/

# === Fichiers Jupyter inutiles pour l'instant ===
Essai_Monte_Carlo_Claude.ipynb

